/* Home.css */

@keyframes appearSequentially {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .slide-left {
    display: inline-block;
    overflow: hidden;
  }
  
  .slide-left h1 {
    white-space: nowrap;
    animation: appearSequentially 4s ease-out forwards;
  }
  
  .slide-left h1 span {
    display: inline-block;
  }
  
  