html, body {
  height: 100%;
  margin: 0;
}

.body {
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
}

footer {
    background-color: blue;
}

.text-white {
  color: #fff !important; /* Override Bootstrap's text color */
}

.text-dark {
  color: #343a40 !important; /* Override Bootstrap's text color */
}
